@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background-color: #141414;
  --font-family: 'Urbanist', sans-serif;
  --white: #fff;
}

body {
  background: var(--body-background-color);
  font-family: var(--font-family);
}
